export(msgpack_format)
export(msgpack_map)
export(msgpack_pack)
export(msgpack_simplify)
export(msgpack_unpack)
export(msgpackFormat)
export(msgpackMap)
export(msgpackPack)
export(msgpackSimplify)
export(msgpackUnpack)
export(arrayEx)
export(enumEx)
import(Rcpp)
importFrom(Rcpp,evalCpp)
useDynLib(RcppMsgPack)
