useDynLib(RcppMsgPack, .registration=TRUE)
importFrom("Rcpp", "evalCpp")
export("msgpack_format", "msgpack_map", "msgpack_pack", "msgpack_simplify", "msgpack_unpack",
       "msgpackFormat", "msgpackMap", "msgpackPack", "msgpackSimplify", "msgpackUnpack",
       "msgpack_timestamp_encode", "msgpackTimestampEncode", "msgpack_timestamp_decode", "msgpackTimestampDecode",
       "arrayEx", "enumEx")
